<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title></title>
    <link rel="stylesheet" href="/css/app.css" />
  </head>

  <body>
    <h1>Notes</h1>

    <nav>
      <a href="/notes/new">New Note</a>
    </nav>

      <ul>
        <% for(let i=0; i<notes.length; i++) { %>
        <li>
          <a href="/notes/<%= notes[i].id %>"> <%=notes[i].name%> </a>
          <!--  ADD DELETE FORM HERE-->
          <form action="/notes/<%= notes[i].id; %>?_method=DELETE" method="POST">
            <input type="submit" value="DELETE" />
          </form>
          <!-- Add edit link here  -->
          <form action="/notes/<%= notes[i].id; %>/edit">
            <input type="submit" value="EDIT"/>
          </form>
        </li>
        <% } %>
      </ul>
  </body>
</html>
