body {
  color: white;
  background-color: rgb(38, 42, 46);
  font-family: 'Graphik'
}

a {
  color: whitesmoke;
}

input[type=textarea] {
  border: 10px solid green;
  vertical-align: top;
  height: 300px;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}