<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title></title>
    <!-- <link rel="stylesheet" href="../../public/css/app.css" /> -->
    <link rel="stylesheet" href="https://getbootstrap.com/docs/5.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://getbootstrap.com/docs/5.0/examples/cover/cover.css">
  </head>

  <body class="d-flex h-100 w-100 text-center text-white bg-dark position-absolute top-50 start-50 translate-middle" >
    
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">

    
      <main class="px-3 position-absolute top-50 start-50 translate-middle">
        <h1>Spark.</h1>
        <p class="lead">A minimalistic notes app.</p>
        <p class="lead">
          <a href="/auth/signup" class="btn btn-lg btn-secondary fw-bold border-white bg-white">Sign Up</a>
          <a href="/auth/login" class="btn btn-lg btn-secondary fw-bold border-white bg-white">Log In</a>
        </p>
      </main>
    
      <footer class="mt-auto text-white-50">
        <p>&copy; SparksCo 2021. All Rights Reserved.</p>
      </footer>
    </div>
    
    
        
      </body>

</html>
