<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <title></title>
    <link rel="stylesheet" href="../../public/css/app.css" />
  </head>

  <body>
    <main class="form-signin">
      <div class="container w-50 position-absolute top-50 start-50 translate-middle shadow-lg p-3 mb-5 bg-body rounded">
      <h2 class="text-center h3 mb-3 fw-normal">Sign Up</h2>
      <form action="/auth" method="POST">
        <div class="mb-3">
          <input type="text" class="form-control" name="name" id="name" placeholder="Name" aria-describedby="nameHelp" />
        </div>
        <div class="mb-3">
          <input type="text" class="form-control" id="username" placeholder="Username" aria-describedby="usernameHelp" name="username" />
        </div>
        <div class="mb-3">
          <input type="text" class="form-control" id="password" placeholder="Password" aria-describedby="passwordHelp" name="password" />
          <div id="passwordHelp" class="form-text text-center">Your password must be 8-20 characters.</div>
        </div>
        <button type="submit" class="w-100 btn btn-lg btn-primary">Submit</button>
      </form>
      </div>
      <p class="text-center mt-5 mb-3 text-muted position-absolute bottom-0 start-50 translate-middle-x">&copy; SparksCo 2021</p>
    </main>

  </body>
</html>
